
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add</h2>

<form method="post">
	<label>Cheese Name:</label>
	<input name="cheeseName" type="text"/>
	<br/>
	<label>Cheese Description:</label>
	<input name="description" type="text"/>
	<button type="submit">Add</button>
</form>