@model IEnumerable<CheeseMVC.Models.Cheese.Cheese>

@{
    ViewData["Title"] = "CheckBoxDelete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Cheese(s)</h2>

<form method="post">
	@foreach(var cheese in Model) {
		@Html.Label(cheese.Name)
		@Html.CheckBox("selectedCheeseNames", false, new { value = @cheese.Name })
		<br/>
	}
	<button type="submit">Delete Cheese(s)</button>
</form>
