@model CheeseMVC.Models.Cheese.CheckBoxDeleteViewModel

@{
    ViewData["Title"] = "CheckBoxDelete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Cheese(s)</h2>

<form method="post">
	@foreach (var item in Model.Cheeses) {
		@Html.Label(item.Name)
		@Html.CheckBox("SelectedCheeseNames", new { value = item.Name })
	}
	<button type="submit">Delete Cheese(s)</button>
</form>
