
@{
    ViewData["Title"] = "CheckBoxDelete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CheckBoxDelete</h2>

<form method="post">
	@foreach(string cheeseName in ViewBag.cheeses.Keys) 
	{
		<label>@cheeseName</label><input type="checkbox" name="selectedCheeseNames" value="@cheeseName"/>

	}
	<button type="submit">Delete Cheese(s)</button>
</form>