@model CheeseMVC.Models.Cheese.DropDownDeleteViewModel

@{
    ViewData["Title"] = "DropDownDelete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Cheese</h2>

<form method="post">
	@Html.DropDownListFor(model=> model.SelectedCheeseName, new SelectList(Model.Cheeses, "Name", "Name", Model.SelectedCheeseName))
	<button type="submit">Delete Cheese</button>
</form>
